.container {
    color: white;
    font-family: 'Spotify-font', sans-serif;
}

.reports-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.bug-desc {
    max-height: 100px;    
    max-width: 250px;   
    overflow-y: auto;     
    overflow-x: hidden;   
    word-wrap: break-word;/* Allow long words to break and wrap */
    padding-left: 5px;   
}

.table {
    table-layout: auto; /* Ensures columns respect fixed widths */
}

th {
    font-size: 20px;
}

td {
    overflow: scroll;
}

th, td {
    padding: 10px; 
}

th:nth-child(1), td:nth-child(1) {
    width: 40px; 
}

th:nth-child(2), td:nth-child(2) {
    width: 100px;
}

th:nth-child(3), td:nth-child(3) {
    width: 300px; 
}

th:nth-child(4), td:nth-child(4) {
    width: 100px; 
    padding-left: 30px;
}

tr {
    height: 50px;
}



