#instructions-header {
    margin-bottom: 20px;
}

.instructions {
    color: white;
    font-family: 'Spotify-font', sans-serif;
}

#instruction-list > li {
    border-image: linear-gradient(to right, white 0%, var(--body-Color) 100%) 1;
    border-width: 0 0 1px 0;
    border-style: solid;
    margin-bottom: 5px;
}

.list-group {
    --bs-list-group-bg: var(--body-Color);
    --bs-list-group-color: white;
    --bs-list-group-border-width: 0px;
    --bs-list-group-border-radius: 0px;
    --bs-list-group-item-padding-x: 0px;
}

.row > .list-group {
    padding: 0;
}

.row > .carousel {
    padding-left: 0;
    padding-right: 0;
}

#readings-carousel {
    display: flex;
    align-items: center;
    background-color: rgb(16, 15, 18);
    height: 500px;
    max-height: 500px;
}

.carousel-item {
    height: 500px;
}

.carousel-item > img {
    height: 100%;
    object-fit: contain;
}

.track-search {
    flex-wrap: nowrap;
    min-width: min-content;
}

.search {
    position: relative;
}

#search-results {
    border: 2px solid #ccc;
    padding: 0;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    background-color: var(--body-Color);
    z-index: 1000;
    position: absolute;
}

.search-result-item {
    padding: 10px;
    cursor: pointer;
    background-color: var(--body-Color);
    color: white;
    width: inherit;
    border-bottom: 1px solid #ccc;
}

.search-result-item:hover {
    background-color: #8b8b8b;
}

#results {
    margin-top: 20px;
    height: 0%;
    position: relative;
}

#measurements-title {
    margin-bottom: 20px;
}

#graph-title {
    transform: translate(-10px, 75px);
}

#reading-measurements {
    text-align: center;
}

#graph-container, .measurement-col, #example-title {
    color: white;
    font-family: 'Spotify-font', sans-serif;
}

.measurement-col {
    padding-top: 25px;
}

.measurement {
    font-size: 22px;
}

.measurements-link {
    margin-top: 10%;
}

.measurements-link > a {
    color: var(--spotify-Color) !important;
    text-decoration-color: var(--spotify-Color) !important;
    animation: opacity 0.5s ease-in-out;
}

.measurements-link > a:hover {
    opacity: 0.7;
}

#result-placeholder {
    text-align: center;
    color: white;
    font-family: 'Spotify-font', sans-serif;
    margin-top: 25px;
}

#graph-container {
    align-self: center;
    position: relative;
    padding-bottom: 65%;
    overflow: hidden;
    min-width: 200px; 
    max-width: 100%;
    text-align: center;
}

#song-reading-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the image */
    width: 100%;
    height: auto; /* Keeps the aspect ratio intact */
    object-fit: contain; 
    min-width: 300px; /* Prevents it from getting too small */
    min-height: 300px; /* Prevents it from getting too small */
}

@media (min-width: 992px) {
    .measurement-col {
        padding-top: 75px;
    }
}

@media (max-width: 992px) {
    #results {
        transform: translateY(0px) !important;
    }
}

@media (max-width: 991px) {
    #song-reading-img {
        transform: translate(-52%, -40%) !important;
    }
}



