{% extends "base.html" %}
{% block title %} !stats.fm Homepage {% endblock %}
{% block style %} "{{url_for('static', filename='styles/home.css')}}" {% endblock %}

{% block content %}
<!--    Tracking Card Options (Song, Artist, Album)     -->
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}  
            {% for cat, msg in messages %}
                <!--  'info' tag denotes user logged out successfully  -->
                {% if "success" in cat %}
                    <div id="alert-box" class="alert alert-success alert-dismissible fade mt-3" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row row-cols-1 row-cols-xl-3 g-5 ms-auto me-auto mt-1 border-none" id="card-container" style="background-color: var(--body-Color);">
        <div class="col">
            <a href="{{url_for('song')}}" class="text-decoration-none"> <!-- Link to track page via url_for() -->
                <div class="card h-100">
                    <img src="../static/images/tracks_card_img.png" class="card-img-top card-img" alt="Assortment of Spotify tracks">
                    <div class="card-body">
                        <h5 class="card-title">Track songs*</h5>
                        <p class="card-text mb-1"> See how popular your favorite songs are across the globe and view their respective song 'readings'!</p>
                        <p class="card-text mb-0" style="font-size: 12px"> * = Only logged-in users can use this feature </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{{url_for('artist')}}" class="text-decoration-none"> <!-- Link to artist page -->
                <div class="card h-100">
                    <img src="../static/images/artists_card_img.png" class="card-img-top card-img" alt="Artists for Spotify">
                    <div class="card-body">
                        <h5 class="card-title">Track artists</h5>
                        <p class="card-text"> View any artist's discography, top tracks to date, and related artists to help expand your music pallette!</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="{{url_for('album')}}" class="text-decoration-none">
                <div class="card h-100">
                    <img src="../static/images/album_cards_img.png" class="card-img-top card-img" alt="Assortment of Spotify albums">
                    <div class="card-body">
                        <h5 class="card-title">Track albums</h5>
                        <p class="card-text"> View all albums and their related tracks, as well as any new releases that may peak your interest!</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<script>
    // Function to show the alert and automatically hide it after 3 seconds
    function showAlert() {
        const alertBox = document.getElementById('alert-box');
        
      // Show the alert (add 'show' class to make it visible)
        alertBox.classList.add('show');
        
      // Automatically hide the alert after 3 seconds (3000ms)
        setTimeout(() => {
        alertBox.classList.remove('show');
        alertBox.remove();
        }, 3000);
    }

    // Call the function to show the alert
    window.onload = function() {
        showAlert();
    };
</script>
{% endblock %}